# Byte-compiled / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
myenv/

# Django-related files
db.sqlite3
*.db
media/
static/

# Ignore logs
*.log

# Ignore environment variables and secrets
.env
*.env

# Ignore Docker-related files
docker-compose.override.yml
postgres_data/
.dockerignore

# PostgreSQL/PostGIS-specific files (Database Volume & Configs)
pg_data/
postgis_data/
pg_hba.conf
pg_ident.conf
postgresql.conf
*.pgsql
*.backup
*.sql

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Ignore compiled Cython files
*.c
*.so

# Ignore Python package metadata
*.egg-info/
dist/
build/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Ignore pytest cache
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Pip cache
~/.cache/pip/
